/* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/

* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  
}

.cotn_principal {
  
  position: absolute;
  width: 100%;
  height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
background-color:white;
}



#imagen{
  
    width: 100%;
  float: left;
height: 100%;
font-size: 50px;
background-color:white ;

}
#imagen>figure{
  margin-top: 10px;
  margin-right: 760px;

}
h3{
  font-family: 'Lato', sans-serif;  
  font-weight: bold;
  color: black;
}


.cont_centrar>figcaption{

}
.cont_centrar {
  position: relative;
  float: left;
   width: 100%;
  height: 100%;
}

.cont_login {
  position: relative;
  width: 640px;
  bottom: 40px;
left: 70%;
margin-left: -320px;

 
}

.cont_back_info {  
position: absolute;
  float: right;
  width: 640px;
  height: 320px;
overflow: hidden;
background-color: #d4e6f1  ;
  margin-top: 100px;

}

.cont_forms {
  float: right;
  font-family: 'Lato', sans-serif;
  position: absolute;
  overflow: hidden;
  top:100px;
left: 0px;
  width: 320px;
  height: 280px;
  background-color:  #d4e6f1 ;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_forms_active_login  {
  font-family: 'Lato', sans-serif;
  background-color: white;
box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  height: 690px;  
top:20px;
left: 0px;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;

}

.cont_forms_active_sign_up {
  font-family: 'Lato', sans-serif;
  background-color: white;
box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
  height: 690px;  
top:20px;
left:320px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_img_back_grey {
  position: absolute;
  width: 950px;
top:-80px;
  left: -116px;
}

.cont_img_back_grey > img {
  width: 100%;
 -webkit-filter: grayscale(100%);     filter: grayscale(100%);
opacity: 0.2;
animation-name: animar_fondo;
  animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;

}

.cont_img_back_ {
  position: absolute;
  width: 950px;
top:-80px;
  left: -116px;
}

.cont_img_back_ > img {
  width: 100%;
opacity: 0.3;
animation-name: animar_fondo;
animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
top:0px;  
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
top:0px;  
left: -435px;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
 

.cont_info_log_sign_up {
position: absolute;
  width: 640px;
  height: 280px;
  top: 100px;
z-index: 1;
} 

.col_md_login {
  position: relative;
  float: left;
  width: 50%;
}

.col_md_login > h2 {
  font-weight: 400;
margin-top: 70px;
    color: #757575;
}

.col_md_login > p {
 font-weight: 400;
margin-top: 15px;
width: 80%;
    color: #37474F;
}

.btn_login { 
background-color:#26C6DA;
  border: none;
  padding: 10px;
width: 200px;
border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
}

.col_md_sign_up {
  position: relative;
  float: left;
  width: 50%;  
}

.cont_ba_opcitiy > h2 {
  font-weight: 400;
  color: #fff;
}

.cont_ba_opcitiy > p {
 font-weight: 400;
margin-top: 15px;
 color: #fff;
}
/* ----------------------------------
background text    
------------------------------------
 */
.cont_ba_opcitiy {
  font-family: 'Lato', sans-serif;
  position: relative;
  background-color:    #092a49;

  width: 80%;
  border-radius:3px ;
margin-top: 90px;
padding: 15px 0px;
}

.btn_sign_up { 
background-color: #ef5350;
  border: none;
  padding: 10px;
width: 200px;
border-radius:3px;
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
margin-top: 10px;
cursor: pointer;
}
.cont_forms_active_sign_up {
z-index: 2;  
}


@-webkit-keyframes animar_fondo {
  from { -webkit-transform: scale(1) translate(0px);
-moz-transform: scale(1) translate(0px);
-ms-transform: scale(1) translate(0px);
-o-transform: scale(1) translate(0px);
transform: scale(1) translate(0px); }
  to { -webkit-transform: scale(1.5) translate(50px);
-moz-transform: scale(1.5) translate(50px);
-ms-transform: scale(1.5) translate(50px);
-o-transform: scale(1.5) translate(50px);
transform: scale(1.5) translate(50px); }
}
@-o-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@-moz-keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

}
@keyframes identifier {
  from { -webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
  to { -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }
}
.cont_form_login {
  position: absolute;
  opacity: 0;
display: none;
  width: 320px;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

.cont_forms_active_login {
z-index: 2;  
}
.cont_forms_active_login  >.cont_form_login {
}

.cont_form_sign_up {
  
  position: absolute;
  width: 320px;
  height: 1000px;
float: left;
  opacity: 0;
display: none;
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

  
.cont_form_sign_up > input {
 
text-align: left;
  padding: 15px 5px;
margin-left: 10px;
margin-top: 20px;
  width: 260px;
border: none;
    color: black ;
}

.cont_form_sign_up > h2 {
margin-top: 50px; 
font-weight: 400;
font-weight: bold;
  color: #212f3c ;
}

 .cont_form_sign_up>#lbFecha{
  position: relative;
  font-weight: bold;
  color: #212f3c ;
  top:10px;
  padding-right: 120px;
}
.cont_form_sign_up>#lbGenero{
  position: relative;
  font-weight: bold;
  color: #212f3c ;
  top:20px;
  padding-right: 25px;
}
.cont_form_sign_up>#Genero{
  position: relative;
  color: #111111 ;
  top:20px;
  right: 10px;
  padding:3px 3px;
  margin-bottom: 20px;

  margin-top: 10px;
}
.cont_form_sign_up>#Mes{
  width: 130px;
  position: relative;
  color: #212f3c ;
  
  right:75px;
  padding:3px 3px;
}
.cont_form_login > input {
  padding: 15px 5px;
margin-left: 50px;
margin-top: 20px;
  width: 260px;
  right: 80px;
border: none;
text-align: left;
  color:  #212f3c ;
}
.cont_form_sign_up>#InputDia{
 width: 50px;
margin-right: 85px;

padding: 3px 3px;
}

.cont_form_sign_up>#InputAño{
  position:absolute;
  width: 60px;
right:30px;
 padding: 3px 3px;
 }
::placeholder{
  color: #17202a ;
font-weight: bold;
}
.cont_form_login > h2 {

margin-top: 110px; 
font-weight: 400;
font-weight: bold;
color: #212f3c ;
}
.cont_form_login > a,.cont_form_sign_up > a  {
  color: #757575;
    position: relative;
    float: left;
    top: 20px;
    margin: 10px;
margin-left: 10px;
}
